<template>
  <div >
    <h2>Count: {{ rndNum }}</h2>
  </div><br>
  <div>
    <h2>Computed Count: {{ getTimes }}</h2>
  </div>
  <div>
    <pre>
      <LoggerV changeMsg="setMsg" :msg="welcomeMsg" />
    </pre>
  </div>
  <div>
    <button class="button-62" @click="increment">Increase</button>  
    <button class="button-62" @click="decrement">Decrease</button>
  </div>
  <div>
  <button class="button-82-pushable" role="button" @click="reset">
  <span class="button-82-shadow"></span>
  <span class="button-82-edge"></span>
  <span class="button-82-front text">
    RESET
  </span>
</button>
  </div>

</template>

<script>

export default {
  name: 'CounterComp',
  
  // props: ['mAssign'],
  props:{
    mAssign :{
      type: Number,
      default: 0
    },
    

  },
  data() {
    return {
        rndNum: this.mAssign,
        volume: 0,
        count: 0,
    }
  },

  methods: {
    //reset the count value but not reset input value
    reset() {
      this.volume = 0,
      this.rndNum = 0
    },
    increment() {
      this.rndNum++
    },
    decrement() {
      this.rndNum--
    }
  },
  computed: {
      getTimes() {
        return this.rndNum * 2
      }
  },
  watch: {
      rndNum(newValue) {
        if(newValue % 5 === 0){
          alert('Total Value has reach multiple of 5')

        this.$emit("listen-event-count", {
          rndNum: this.rndNum,
          getTimes: this.getTimes
        })
        console.log(({newValue}))
        }
      },
      mAssign(newmAssign) {
      this.rndNum = newmAssign
      },
    },
    components: {
    }

};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

/* CSS */
.button-62 {
  background: linear-gradient(to bottom right, #EF4765, #FF9A5A);
  border: 0;
  border-radius: 12px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  margin-bottom: 30px;
  margin-right: 10px;
  margin-left: 10px;
}

.button-62:not([disabled]):focus {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

.button-62:not([disabled]):hover {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

.button-82-pushable {
  position: relative;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  transition: filter 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-82-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: hsl(0deg 0% 0% / 0.25);
  will-change: transform;
  transform: translateY(2px);
  transition:
    transform
    600ms
    cubic-bezier(.3, .7, .4, 1);
}

.button-82-edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: linear-gradient(
    to left,
    hsl(340deg 100% 16%) 0%,
    hsl(340deg 100% 32%) 8%,
    hsl(340deg 100% 32%) 92%,
    hsl(340deg 100% 16%) 100%
  );
}

.button-82-front {
  display: block;
  position: relative;
  padding: 12px 27px;
  border-radius: 12px;
  font-size: 1.1rem;
  color: white;
  background: hsl(345deg 100% 47%);
  will-change: transform;
  transform: translateY(-4px);
  transition:
    transform
    600ms
    cubic-bezier(.3, .7, .4, 1);
}

@media (min-width: 768px) {
  .button-82-front {
    font-size: 1.25rem;
    padding: 12px 42px;
  }
}

.button-82-pushable:hover {
  filter: brightness(110%);
  -webkit-filter: brightness(110%);
}

.button-82-pushable:hover .button-82-front {
  transform: translateY(-6px);
  transition:
    transform
    250ms
    cubic-bezier(.3, .7, .4, 1.5);
}

.button-82-pushable:active .button-82-front {
  transform: translateY(-2px);
  transition: transform 34ms;
}

.button-82-pushable:hover .button-82-shadow {
  transform: translateY(4px);
  transition:
    transform
    250ms
    cubic-bezier(.3, .7, .4, 1.5);
}

.button-82-pushable:active .button-82-shadow {
  transform: translateY(1px);
  transition: transform 34ms;
}

.button-82-pushable:focus:not(:focus-visible) {
  outline: none;
}
</style>
