<template>
    <h3 class="square" v-html="logCount"></h3>
</template>

<script>
  export default {
    name: 'LoggerV',
    data() {
      return {
        result:"",
      }
    },
    props: {
      logCount: {
        type: String,
        default: ''

      }
    },
    methods: {
     
    },
  }
  </script>
  
  <!-- Add "scoped" attribute to limit CSS to this component only -->
  <style scoped>
  h3 {
    margin: 40px 0 0;
  }
  ul {
    margin-right: auto;
    margin-left: auto;
  }
  li {
    display: flex;
    margin: 0 10px;
  }
  a {
    color: #42b983;
  }
  center {
    margin-right: auto;
    margin-left: auto;
    /* padding-bottom: auto ; */
  }
  .square {
    border: 1px  solid black;
    border-radius: 13px;
    padding-top: 16px;
    padding-bottom: auto;
    background-color: #acb1d0;
    width: auto;
    height: 100px;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    margin-top: 30px;
    }
  
  </style>
  