<template>
<table class="tblDes">
  <div>
    <img alt="Vue logo" src="./assets/logo.png">
    <h1>{{ msg }}</h1>
</div>
  <input type="number" class="form__input" v-model="mAssign"/><br>
  <CounterComp @listen-event-count="countValue" :mAssign="mAssign" />
  <LoggerComp :logCount="msgLog"/>
</table>
</template>

<script>
import CounterComp from './components/CounterComp.vue'
import LoggerComp from './components/LoggerComp.vue'

export default {
  name: 'App',
  data() {
    return {
      msg: 'Assignment Vue 3',
      mAssign: 0,
      msgLog: ''
    }
  },
  computed: {
    
  },
  methods: {
      countValue({rndNum, getTimes}) {
        this.newCount = rndNum;
        this.msgLog=`Count Value reach ${rndNum}<br><br> Count Double reach ${getTimes}`
      }
  },
    components: {
    CounterComp,
    LoggerComp
  }
}
</script>

<style>
#app {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #000000;
  margin-top: 60px;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-size: 62,5%;
}

body {
  height: 100vh;
	width: 100%;
  background: #4f3b68; /* fallback for old browsers */
  background: linear-gradient(to right,#f6f6f6, #31505b, #0f2027); /* background with 3 color */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #ffffff;
}

.form__input {
  font-family: 'Roboto', sans-serif;
  color: #333;
  font-size: 1.0rem;
	margin: 0 auto;
  margin-top: 30px;
  padding: 0.7rem 1.5rem;
  border-radius: 5px;
  background-color: azure;
  border: none;
  width: auto;
  display: block;
  border-bottom: 0.3rem solid transparent;
  transition: all 0.3s;
}

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-4rem);
  transform: translateY(-4rem);
}


.tblDes {
  border:0.3px solid black;
  border-radius: 13px;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  background-color: #5b758f;
  width: 500px;
  height: 500px;
  box-shadow: 10px 10px 25px 7px rgb(0, 0, 0);
}

.tmpBack {
  background: red;
}
</style>
